/* Add CSS Styling */
.odd {
    background-color: #ffb6c1;
    font: Verdana, "DejaVu Sans", sans-serif;
}

#two {
    color: blue;
    font-size: 36px;
}

#four {
    background-color: lightgreen;
    font-weight: bold;
}

.font-size {
    font-size: 24px;
}